{{ template "base" . }}

{{ define "pagecss" }}
{{ template "tables_css" . }}
<style type="text/css">
#body {
	padding: 2em;
}
h4 {
	text-align: center;
}
#tableresult {
	height: calc(100% - 40px - 7em);
}
</style>
{{ end }}

{{ define "content" }}
<div id="body">
<h4>{{.title}}</h4>
<div id="tableresult"></div>
</div>
{{ end }}

{{ define "pagescript" }}
{{ template "tables_js" . }}
<script type="text/javascript">
$(document).ready(function() {
	var params = {{.params}};
	$.ajax("/get_table", {
		type: "POST",
		data: JSON.stringify(params),
		contentType: "application/json",
		success: function(res) {
			//console.log(JSON.stringify(res));
			var header = {{.header}};
			var columns = {{.columns}};
			var text = genTable(res, header, "");
			$("#tableresult").html(text);
			$('table.outer').DataTable({
				"order": [],
				"columns": columns,
			});
		}
	});
});
</script>
{{ end }}
