{% extends "base.html" %}

{% block pagecss %}
<style type="text/css">
ul[role="tablist"] {
	height: 42px;
	position: relative;
}
.tab-content {
	height: calc(100% - 43px);
	overflow: auto;
}
#table {
	padding: 2em;
}

div.mainbar {
	width: 100%;
}

div#formwrapper {
	position:absolute;
	top: 0.5em;
	left: 15em;
}
div#formwrapper form {
	display: inline-block;
}
div#formwrapper form#findentity {
	margin-left: 2em;
}
div#formwrapper form#findentity input[type=text] {
	width: 6em;
}
div#formwrapper form#controls {
	margin-left: 2em;
}

table.tipstable, table.tipstable th, table.tipstable td {
	border: 1px solid black;
}

li span.tipicon {
	margin: 0 0.125em;
}
</style>
{% endblock pagecss %}

{% block content %}
<!--
	<div>
	<input class="form-control" type="url" value="http://localhost:7474" id="neo4jUrl"/><br/>
	<input class="form-control" type="text" size="8" value="neo4j" id="neo4jUser"/>
	<input class="form-control" type="password" size="8" placeholder="password" value="test" id="neo4jPass"/><br/>
	<textarea name="cypher" id="cypher" rows="4" cols="120" data-lang="cypher" class="code form-control">
	MATCH (n)-[r]->(m)
	RETURN n,r,m
	LIMIT 50;
	</textarea>
	<a href="#" title="Execute" id="execute"><i class="fa fa-play-circle-o"></i></a>
	</div>
-->
<div role="tabpanel" class="horzpanel mainbar">

	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
		<li class="nav-item"><a class="nav-link active" href="#graph" aria-controls="home" role="tab" data-toggle="tab" aria-selected="true">Graph</a></li>
		<li class="nav-item"><a class="nav-link" href="#table" aria-controls="table" role="tab" data-toggle="tab" aria-selected="false">Table</a></li>
		<li><span class="fa fa-info tipicon" id="helpicon" style="cursor: pointer; color: green;" data-toggle="popover" data-content="Click me for general tips"></span></li>
		<li><span class="fa fa-spinner tipicon" id="loadicon" style="display: none; color: cyan;" data-toggle="popover" data-content="Graph is still loading, please wait"></span></li>
		<li><span class="fa fa-check tipicon" id="doneicon" style="display: none; color: cyan;" data-toggle="popover" data-content="Graph has finished loading. If it is still empty, it means the query returned no results"></span></li>
		<li><span class="fa fa-question-circle tipicon" id="noteicon" style="display: none; color: orange;" data-toggle="popover" data-content=""></span></li>
	</ul>

	<div id="formwrapper">
	<form id="findentity">
		<input type="text" name="entityidsel" placeholder="Entity ID" />
		<span class="fa fa-info-circle tipicon" data-toggle="popover" data-content="Toggle highlight for node of any type with this exact eid if it is already displayed. You may also put multiple eids separated with ; and no spaces"></span>
		<input type="submit" value="Find!" />
	</form>

	<form id="controls">
		Hover for
		<input type="checkbox" id="check-highlights" name="highlights">
		<label for="check-highlights">Highlights</label>
		<input type="checkbox" id="check-tooltips" name="tooltips">
		<label for="check-tooltips">Tooltips</label>
	</form>
	</div>

	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active show fade" id="graph">
		</div>
		<div role="tabpanel" class="tab-pane fade" id="table">
			<div id="datatable"></div>
		</div>
	</div>

	<input type="hidden" name="record_query" value="" />
	<input type="hidden" name="record_count_row" value="" />
	<input type="hidden" name="record_count_node" value="" />
	<input type="hidden" name="record_count_edge" value="" />

</div>
{% endblock content %}

{% block pagescript %}
<script type="text/javascript">
function fadeBarMain() {
	$("div.mainbar").css("opacity", 0.3);
	$("#loadicon").show();
}
function unfadeBarMain() {
	$("div.mainbar").css("opacity", 1);
	$("#loadicon").hide();
	$("#doneicon").show();
	var content = "<ul><li>Query: " + $("input[name=record_query]").val().replace(/(\r\n|\n|\r)/gm, "<br>") + "</li><li>Row count: " + $("input[name=record_count_row]").val() + "</li><li>Node count: " + $("input[name=record_count_node]").val() + "</li><li>Edge count: " + $("input[name=record_count_edge]").val() + "</li></ul>";
	$("#noteicon").attr("data-content", content);
	$("#noteicon").show();
}

$(document).ready(function() {
	$("span#helpicon").on("click", function() {
		Swal.fire({
			title: "Tip",
			html: '<table class="tipstable"><tr><th>Action + Effect</th><th>While holding down this key</th></tr><tr><td>Scroll to zoom</td><td>N/A</td></tr><tr><td>Drag and drop to pan</td><td>N/A</td></tr><tr><td>Click on nodes/edges to toggle display of properties</td><td>N/A</td></tr><tr><td>Hover on nodes/edges to view properties</td><td>Shift/Alt</td></tr><tr><td>Hover on nodes/edges to highlight only related nodes/edges</td><td>Control/Alt</td></tr></table>'
		});
	});

	$("span#noteicon").on("click", function() {
		copyElementToClipboard("input[name=record_query]");
	});

	$('span[data-toggle="popover"]').popover({
		"trigger": "hover",
		"container": "body",
		"html": true,
	});

	$("#formwrapper form#findentity").on("submit", function(){
		$("form#findentity input[name=entityidsel]").val().split(";").forEach(function(eid) {
			$('g.node circle[data-eid="'+eid+'"]').toggleClass("highlighted");
		});
		return false;
	});

	$("#formwrapper form#controls input[name=highlights]").change(function() {
		localStorage['enableHoverForHighlights'] = this.checked;
	});

	$("#formwrapper form#controls input[name=tooltips]").change(function() {
		localStorage['enableHoverForTooltips'] = this.checked;
		if (this.checked) {
			popoverHover();
		} else {
			popoverClick();
		}
	});

	if (localStorage['enableHoverForHighlights'] === undefined) {
		localStorage['enableHoverForHighlights'] = false;
	}
	$("form#controls input[name=highlights]").prop("checked", localStorage['enableHoverForHighlights'] === "true");
	if (localStorage['enableHoverForTooltips'] === undefined) {
		localStorage['enableHoverForTooltips'] = false;
	}
});
</script>
{% endblock pagescript %}
